.DS_Store

# Ignore SimpleCov report
coverage/

# Ignore Secret Key 
config/secrets.yml

# Ignore Cassetes
spec/fixtures/cassettes/*.yml

# Omit database file from version control
infrastructure/database/*.db

# Ignore app.yml
config/app.yml

#  Ignore bundle folder
.bundle/
