.DS_Store

# Ignore SimpleCov report
coverage/

# Ignore Secret Key 
config/secrets.yml

# Ignore Cassetes
spec/fixtures/cassettes/

# Omit database file from version control
infrastructure/database/*.db