---
development:
  MOTC_ID: <personal motc_id for MOTC API>
  MOTC_KEY: <personal motc_key for MOTC API>
  GOOGLE_MAP_KEY: <personal google_map_key for GOOGLE MAP>
  GOOGLE_MAP_RETRY_TIMEOUT: 20
  GOOGLE_MAP_QUERIES_PER_SECOND: 10
  AWS_ACCESS_KEY_ID: <aws credentials>
  AWS_SECRET_ACCESS_KEY: <aws credentials>
  AWS_REGION: 'us-east-1'
  CLONE_QUEUE: <aws sqs queue>
  CLONE_QUEUE_URL: <aws sqs queue url>
test:
  MOTC_ID: <personal motc_id for MOTC API>
  MOTC_KEY: <personal motc_key for MOTC API>
  GOOGLE_MAP_KEY: <personal google_map_key for GOOGLE MAP>
  GOOGLE_MAP_RETRY_TIMEOUT: 20
  GOOGLE_MAP_QUERIES_PER_SECOND: 10
  AWS_ACCESS_KEY_ID: <aws credentials>
  AWS_SECRET_ACCESS_KEY: <aws credentials>
  AWS_REGION: 'us-east-1'
  CLONE_QUEUE: <aws sqs queue>
  CLONE_QUEUE_URL: <aws sqs queue url>